<form id="class-selector-from">
    <mat-form-field appearance="fill" id="class-searcher">
        <mat-label>School Class</mat-label>
        <input id="selected-class" (input)="filterClasses(selectedClass.value)" #selectedClass type="text"
            placeholder="Type in your classname" [value]="defaultClass.name" aria-label="Classname" matInput [matAutocomplete]="auto">
        <button *ngIf="selectedClass.value" (click)="selectedClass.value = '';clearAppointment()" [disableRipple]="true" id="class-clear-button" mat-icon-button>
            <mat-icon id="class-clear-icon">clear</mat-icon>
        </button>

        <mat-autocomplete aria-activedescendant #auto="matAutocomplete">
            <mat-option *ngFor="let cls of previewClasses" (onSelectionChange)="reloadAppointments(cls.id, $event)"
                [value]="cls.name">
                {{cls.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>