#class-searcher{
    width: 24rem;
}

#class-clear-button{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0;

}

#class-clear-icon{
    vertical-align: middle;
    pointer-events: all;
}

#class-selector-from {
    display: flex;
    align-items: center;
    justify-content: center;
}