#daypicker-wrapper #selector-wrapper{
    display: flex;
}

.daypicker-button{
    margin-top: auto;
    margin-bottom: auto;
}
#daypicker-wrapper,
#timepicker{
    display: flex;
    align-items: center;
    justify-content: center;

}
#today-button{
    margin-bottom: .5rem;
}
#daypicker-wrapper{
    flex-direction: column;
    margin-top: -3rem;
}

@media only screen and (max-width: 1000px) {

    #timepicker {
        width: 90%;
        max-width: 20rem;
    }

    #daypicker-wrapper{
        margin: 0;
    }
}