#welcome-wrapper{
    width: calc(100% - 4rem);
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    padding: 1rem 2rem;
    min-height: calc(100% - 4rem);
}
#action{
    margin-top: auto;
}

#close-action{
    position: absolute;
    top: -1.5rem;
    right: 0;
}
#dialog-content{
    padding: 0 10%;
}