#overview-wrapper{
    display: grid;
    grid-template-rows: auto auto 1fr 1rem;
    grid-template-columns: auto;
    grid-template-areas: "title" "query" "table" "buffer";
    height: 100%;
}

#overview-title{
    margin-top: .5rem;
    grid-area: "title";
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    >h1{
        font-size: xx-large;
        margin-top: .8rem;
    }
    >h1, >h2{
        margin-bottom: 0;
    }
    >#period{
        font-weight: normal;
        font-size: large;
        color: grey

    }
}

#filter-values{

    #overview-title();

    #daypicker{
        margin-left: 2rem;
    }   
    display: grid;
    grid-template-columns: 1fr 28rem 1fr;
    grid-template-rows: 1fr;
    grid-area: "query";
    margin: 0;
    height: 6rem;
    margin-bottom: 1rem;
}

#stundenplan{
    grid-area: "table";
    height: 100%;
    position: relative;
    overflow-y: hidden;
    margin-right: 3rem;
    pointer-events: all;
}

#timetable{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}
#mobile-appointment-view{
    display: none;
}

@media only screen and (max-width: 1000px){
    #class-selector{
        width: 80%;
    }
    #filter-values{
        grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    }
    #daypicker, 
    #class-selector {
        margin: 0 !important;
        width: 100%;
    }
    #daypicker{
        display: flex;
        justify-content: center;

    }

    #stundenplan{
        margin: 0;
        margin-top: 3.5rem;
        padding-top: -3.5rem;
        height: max-content;
    }

    #overview-wrapper{
        height: max-content;
    }
} 