#overview-wrapper{
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: auto;
    grid-template-areas: "title" "query" "table";
    height: 100%;
}

#overview-title{
    margin-top: 1rem;
    grid-area: "title";
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    >h1{
        font-size: xx-large;
        margin-top: .8rem;
    }
    >h1, >h2{
        margin-bottom: 0;
    }
    >#period{
        font-weight: normal;
        font-size: large;
        color: grey

    }
}

#filter-values{

    #overview-title();

    grid-area: "query";

    height: 8rem;
}

#stundenplan{
    grid-area: "table";
}

#timetable{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}