<header id="root-header">
    <h1 id="title">Inofficial BBZBL Stundenplan</h1>
</header>
<main id="main-content">
  <router-outlet></router-outlet>
</main>
<footer id="root-footer">
  <div id="copyright">
    <p>&copy; YM 2023 </p>
  </div>
  <div id="warranty-message">
    <span>This Website comes with <span class="important-text">absolutely no warranty</span> <br /> It might be the case
      that it include outdatet or incorrect informations<br /> or even break your system</span>
  </div>
  <div id="footer-links">
    <a href="https://bbzbl.ch/stundenplan">Ofizieller Stundenplan</a>
  </div>
</footer>