<header [ngClass]="{'darkmode':  isDarkmode}" id="root-header">
  <h1 id="title">Unofficial Stundenplan</h1>
  <button (click)="toggleDarkmode(!isDarkmode)" mat-icon-button>
    <mat-icon id="lightmode-switch">{{isDarkmode ? 'light_mode' : 'dark_mode'}}</mat-icon>
  </button>
</header>
<main [ngClass]="{'darkmode':  isDarkmode}" id="main-content">
  <router-outlet></router-outlet>
</main>
<footer [ngClass]="{'darkmode':  isDarkmode}" id="root-footer">
  <div class="desktop-only" id="copyright">
    <p>&copy; YM 2023 - GPL-3.0 license</p>
  </div>
  <div id="warranty-message">
    <span>This Website comes with <span class="important-text">absolutely no warranty</span> <br /> It might be the case
      that it include outdatet or incorrect informations<br /> or even break your system</span>
  </div>
  <div class="desktop-only" id="footer-links">
    <a href="https://github.com/bbzblit/stundenplan-ui">Source Code</a>
    <a href="https://bbzbl.ch/stundenplan">Offizieller Stundenplan</a>
  </div>
</footer>
