<div (click)="openDetailedView()" (doubleClickZoom)="toggleRainbowMode(!rainbowMode, $event)" (contextmenu)="toggleRainbowMode(!rainbowMode, $event)" [ngClass]="{rainbow: rainbowMode}" class="appointment-wrapper">
    <div id="sidebar"></div>
    <div id="appointment-content-wrapper">
        <div id="data-wrapper">
            <p id="appointment-start">
                {{appointment.appointment_start.getHours() - (appointment.appointment_start.getHours() > 12 ? 12 :
                0)}}:{{pad(appointment.appointment_start.getMinutes())}}
                {{appointment.appointment_start.getHours() > 12 ? "PM" : "AM"}} -
                {{appointment.appointment_end.getHours() - (appointment.appointment_end.getHours() > 12 ? 12 :
                0)}}:{{pad(appointment.appointment_end.getMinutes())}}
                {{appointment.appointment_end.getHours() > 12 ? "PM" : "AM"}}
            </p>
            <p  id="short-appointment-start">
                {{appointment.appointment_start.getHours() - (appointment.appointment_start.getHours() > 12 ? 12 :
                0)}}:{{pad(appointment.appointment_start.getMinutes())}}
                {{appointment.appointment_start.getHours() > 12 ? "PM" : "AM"}}
            </p>
            <p  id="title">{{appointment.title}}
            <p  id="location">{{appointment.place.split("/")[0]}}</p>
        </div>
    </div>

</div>