.appointment-wrapper {
    background-color: #C2DAFE !important;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    overflow: hidden;
    p {
        color: rgb(96, 96, 96);
        margin: 0;
    }
}

#sidebar {
    height: 100%;
    min-width: .2rem;
    width: .2rem;
    background-color: rgb(49, 131, 254);
}

#data-wrapper {
    width: 100%;
}

#title,
#location,
#appointment-start {
    width: calc(100% - 1rem);
    text-align: left;
    padding-left: .5rem;
    text-overflow: hide;
    margin-top: .4rem;
    overflow-wrap: break-word;
}

#location {
    margin-top: .8rem;
}

#appointment-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

#more-details-button {
    margin-bottom: 1rem;
    margin-right: 10%;
    margin-left: 10%;
    max-width: 12rem;
}

@media only screen and (max-width: 1000px) {

    #title,
    #location,
    #appointment-start {
        text-align: center;
        margin-top: .1rem;
    }

    #appointment-start{
        margin-top: 1rem;
    }

    #appointment-content-wrapper{
        align-items: center;
    }

    .appointment-wrapper {
        border-radius: 8px;
    }

    #more-details-button{
        margin-top: .5rem;
    }
}