<div id="timetable-wrapper">
    <div id="table-title">
        <p>Monday 14.03</p>
        <p>REMOVE IN PROD</p>
        <p>REMOVE IN PROD</p>
        <p>REMOVE IN PROD</p>
        <p>REMOVE IN PROD</p>
        <p>REMOVE IN PROD</p>
        <p>REMOVE IN PROD</p>
    </div>

    <div id="table-scroll">
        <div id="table-content">
            <app-timetable-day [start]="startTime" [end]="endTime" [appointments]="testAppointments" [showIndex]="true"
                [title]="'Monday 12.03'" class="day show-index"></app-timetable-day>
            <app-timetable-day [start]="startTime" [end]="endTime" class="day"></app-timetable-day>
            <app-timetable-day [start]="startTime" [end]="endTime" class="day"></app-timetable-day>
            <app-timetable-day [start]="startTime" [end]="endTime" class="day"></app-timetable-day>
            <app-timetable-day [start]="startTime" [end]="endTime" class="day"></app-timetable-day>
            <app-timetable-day [start]="startTime" [end]="endTime" class="day"></app-timetable-day>
            <app-timetable-day [start]="startTime" [end]="endTime" class="day"></app-timetable-day>

        </div>
    </div>
</div>