.day{
    height: 90%;
    width: 14%;
    margin-bottom: 5rem;
    display: block;
    
    &:not(:nth-child(2n)){
        background-color: #DCDCDC;
    }
}


#timetable-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    margin-right: 3rem;
    margin-left: 3rem;
}

