<div id="timetable-wrapper">
    <div id="table-title">
        <p class="day-title" *ngFor="let day of days; let idx = index">{{getDayName(idx)}}<br/>{{getDate(idx)}}</p>
    </div>

    <div id="table-scroll">
        <div id="table-content">

            <app-timetable-day *ngFor="let day of days; let idx = index" [start]="startTime" [end]="endTime" [appointments]="groupedAppointments[idx]" [showIndex]="idx === 0" class="day show-index"></app-timetable-day>
        </div>
    </div>
</div>
<app-mobile-appointment-view  [groupedAppointments]="groupedAppointments" [startDate]="startDate" id="mobile-appointment-view"></app-mobile-appointment-view>
