.day-wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 1fr;
    grid-template-areas: "day-title" "day-content";
}

.day-title{
    width: 100%;
    padding-top: 4%;
    grid-area: "day-title";
    text-align: center;
}

.day-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: "day-content";
    height: 100%;
}

.hour{
    background-color: grey;
    height: 1px;
    width: 100%;

    p{
        top: -2ch;
        padding-left: .2rem;
        display: block;
        position: relative;
    }
}