.day-wrapper{
    height: 100%;
    width: 100%;
}
.day-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 15px);
}

.hour{
    background-color: grey;
    height: 1px;
    width: 100%;

    p{
        top: -1ch;
        left: -6ch;
        z-index: 1000;
        padding-left: .2rem;
        display: block;
        position: relative;
    }
}

.last-hour{
    background-color: transparent;
}
.appointment-wrapper{
    position: absolute;
    width: 100%;
    right: 0;
    cursor: pointer;
    position: absolute
}